<%= form_for(@spot) do |f| %>
  <% if @spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spot.errors.count, "error") %> <%= t(:spot_prohibited_saved) %></h2>

      <ul>
      <% @spot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:discipline) %><br />
    <%= f.collection_select :discipline_id, Discipline.find(:all), :discipline_id, :name %>
  </div>
  <div class="field">
    <%= f.label t(:spot_name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:spot_local) %><br />
    <%= f.text_field :local %>
  </div>
  <div class="field">
    <%= f.label t(:latitude) %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label t(:longitude) %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
