<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
  <tr>
    <th><%= t(:faculty) %></th>
    <th><%= sortable "acronym", t(:acronym) %></th>
    <th><%= sortable "name", t(:name) %></th>
    <th><%= sortable "degree", t(:course_degree) %></th>
    <th colspan="3"><%= t(:options) %></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.faculty.acronym %></td>
    <td><%= course.acronym %></td>
    <td><%= course.name %></td>
    <td><% case course.degree when 1 %><%= t(:course_undergraduate) %>
        <% when 2 %><%= t(:course_integrated_masters) %>
        <% when 3 %><%= t(:course_masters) %>
        <% when 4 %><%= t(:course_doctoral_programs) %>
        <% else %><%= t(:not_defined) %><% end %></td>
    <td style="width:16px"><%= link_to image_tag('File_info16.png', :alt => t(:show)), course %></td>
    <td style="width:16px"><%= link_to image_tag('File_edit16.png', :alt => t(:edit)), edit_course_path(course) %></td>
    <td style="width:16px"><%= link_to image_tag('File_delete16.png', :alt => t(:destroy)), course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @courses %>
<br />
