<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
  <tr>
    <th><%= sortable "name", t(:name) %></th>
    <th colspan="3"><%= t(:options) %></th>
  </tr>

<% @spots.each do |spot| %>
  <tr>
    <td><%= spot.name %></td>
    <td style="width:16px"><%= link_to image_tag('File_info16.png', :alt => t(:show), :title => t(:show)), spot %></td>
    <td style="width:16px"><%= link_to image_tag('File_edit16.png', :alt => t(:edit), :title => t(:edit)), edit_spot_path(spot) %></td>
    <td style="width:16px"><%= link_to image_tag('File_delete16.png', :alt => t(:destroy), :title => t(:destroy)), spot, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @spots %>
<br />
