<h1><%= t(:spot_list) %></h1>

<%= form_tag courses_path, :method => 'get', :id => "spots_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="spots"><%= render 'spots' %></div>
<% end %>

<%= link_to t(:spot_new), new_spot_path %>
