<% @spot = Spot.find_by_spot_id (params[:id]) %>
<h1><%=t :spot %>: <%= @spot.local %></h1>
<table>
  <tr>
    <th><%=t :username %></th>
    <th><%=t :email %></th>
  </tr>
  <% @accounts.each do |account| %>
  <tr>
    <td><%= account.username %></td>
    <td><%= account.email %></td>
  </tr>
<% end %>
</table>