<p id="notice"><%= notice %></p>

<p>
  <b>Local:</b>
  <%= @spot.local %>
</p>
<p>
  <b>Inicio:</b>
  <%= @spot.start_time %>
</p>
<p>
  <b>Fim:</b>
  <%= @spot.end_time %>
</p>


<%= link_to 'Edit', edit_spot_path(@account) %> |
<%= link_to 'Back', spots_path %>