<p id="notice"><%= notice %></p>
<p>
  <b>First Name:</b>
  <%= @profile.first_name %>
</p>
<p>
  <b>Last Name:</b>
  <%= @profile.last_name %>
</p>
<p>
  <b>Full Name</b>
  <%= @profile.first_name + ' ' + @profile.last_name %>
</p>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', accounts_path %>