<table>
  <tr>
    <td><%= t(:administration) %></td>
    <td>Utilizador</td>
  </tr>
  <tr>
    <td><%= link_to t(:faculties), faculties_path %></td>
    <td><%= link_to t(:profile), users_profile_index_path %></td>
  </tr>
  <tr>
    <td><%= link_to t(:courses), courses_path %></td>
    <td><%= link_to t(:disciplines), users_disciplines_path %></td>
  </tr>
  <tr>
    <td><%= link_to t(:disciplines), disciplines_path %></td>
    <td><%= link_to t(:spots), spots_path %></td>
  </tr>
</table>
<br />
<br />
<br />
