<script src="http://maps.google.com/maps/api/js?key=AIzaSyA10fXXCcUlnAexw3VyD0AjV4tQ8nc&sensor=false" type="text/javascript"></script>
<script type="text/javascript">
  var browserSupportFlag =  new Boolean();
  var geocoder;
  var map;
  var latlng;
  //The address that you want to show in Google Maps
  <% if (@profile.latitude != nil && @profile.longitude != nil) %>
  latlng = new google.maps.LatLng(<%= @profile.latitude %>, <%= @profile.longitude %>);
  <% else %>
  latlng = new google.maps.LatLng(0, 0);
  <% end %>
  function initialize() {
    var myOptions = {
      zoom: 15,
      center: latlng,
      mapTypeControl: true,
      mapTypeControlOptions: {
        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
      },
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.LARGE
      },
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
    geocoder = new google.maps.Geocoder();
    map.setZoom(15);
    var marker = new google.maps.Marker({
      position: latlng, 
      map: map
    });
    google.maps.event.addListener(marker, 'click', function() {
      map.setZoom(17);
    });
    var infowindow = new google.maps.InfoWindow({
      content: '<b><%= t(:actual_position) %>!</b>',
      size: new google.maps.Size(50,50),
      position: latlng
    });
    infowindow.open(map);
  }
</script>
<h1><%= t(:profile) %></h1>
<table class="pretty">
  <tr>
    <th><%= t(:parameters) %></th>
    <th><%= t(:description) %></th>
  </tr>
  <tr>
    <td><%= t(:name) %></td>
    <td><%= @profile.first_name %> <%= @profile.last_name %></td>
  </tr>
  <tr>
    <td><%= t(:email) %></td>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <td><%= t(:faculty) %></td>
    <td><%= @profile.faculty.acronym %> - <%= @profile.faculty.name %></td>
  </tr>
  <tr>
    <td><%= t(:course) %></td>
    <td><%= @profile.course.acronym %> - <%= @profile.course.name %></td>
  </tr>
  <tr>
    <td><%= t(:year) %></td>
    <td><%= @profile.year %></td>
  </tr>
  <tr>
    <td><%= t(:language) %></td>
    <td><%= image_tag('flags/' + @profile.language + '.png', :size => "16x16", :class => "flagsimg", :alt => t(:show)) %></td>
  </tr>
  <% if(UserSpots.find_by_user_id(params[:id]) != nil) %>
  <% @myspot2 = Spot.find_by_spot_id((UserSpots.find_by_user_id(params[:id])).spot_id) %>
  <tr>
    <td><%= t(:spot) %></td>
    <td><%= @myspot2.name %> @ <%= @myspot2.local %></td>
  </tr>
  <% end %>
  <% if((@profile.local != nil && @profile.local != "" && @profile.local != 0)) %>
  <tr>
    <td><%= t(:local) %></td>
    <td><%= @profile.local %></td>
  </tr>
  <% end %>
  <% if((@profile.latitude != nil && @profile.latitude != "" && @profile.latitude != 0) && (@profile.longitude != nil && @profile.longitude != "" && @profile.longitude != 0)) %>
  <tr>
    <td><%= t(:localization) %></td>
    <td>
      <div id="map" style="width: 520px; height: 400px">
      <script type="text/javascript">
        initialize();
      </script>
      </div>
    </td>
  </tr>
  <% end %>
</table>

<br />
<%= link_to t(:profile_edit), edit_users_profile_path(@profile.profile_id) %>
