<p id="notice"><%= notice %></p>

<div class="field">
  <table>
    <tr>
      <th><%= t(:parameters) %></th>
      <th><%= t(:description) %></th>
    </tr>
    <tr>
      <td><%= t(:faculty) %></td>
      <td><%= @users_disciplines.course.faculty.acronym + " - " + @users_disciplines.course.faculty.name %></td>
    </tr>
    <tr>
      <td><%= t(:name) %></td>
      <td><%= @users_disciplines.name %></td>
    </tr>
    <tr>
      <td><%= t(:acronym) %></td>
      <td><%= @users_disciplines.acronym %></td>
    </tr>
    <tr>
      <td><%= t(:course_degree) %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t(:course_begin) %></td>
      <td></a></td>
    </tr>
  </table>
</div>

<%= link_to t(:edit), edit_discipline_path(@users_disciplines) %> |
<%= link_to t(:back), disciplines_path %>
