<h1><%= t(:course_list) %></h1>

<%= form_tag courses_path, :method => 'get', :id => "courses_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="courses"><%= render 'courses' %></div>
<% end %>

<%= link_to t(:course_new), new_course_path %>
