<%= form_for @userdisciplines, :url => new_users_discipline_path do |f| %>
  <% if @userdisciplines.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userdisciplines.errors.count, "error") %> <%= t(:discipline_prohibited_saved) %></h2>

      <ul>
      <% @userdisciplines.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:discipline) %><br />
    <%= f.collection_select(:discipline_id, Discipline.find(:all), :discipline_id, :name) %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
