<p id="notice"><%= notice %></p>

<div class="field">
  <table>
    <tr>
      <th><%= t(:parameters) %></th>
      <th><%= t(:description) %></th>
    </tr>
    <tr>
      <td><%= t(:faculty) %></td>
      <td><%= @discipline.course.faculty.acronym + " - " + @discipline.course.faculty.name %></td>
    </tr>
    <tr>
      <td><%= t(:name) %></td>
      <td><%= @discipline.acronym + " - " + @discipline.name %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>user</th>
      <th>comment</th>
      <th>data</th>
    </tr>
    <% @walldiscipline.each do |comment| %>
      <tr><% @person = Profile.find_by_user_id(comment.user_id) %>
        <% if @person != nil %>
        <td><%= @person.first_name + " " + @person.last_name%></td>
        <% else %>
        <td>Desconhecido</td>
        <% end %>
        <td><%= comment.comment %></td>
        <td><%= comment.updated_at %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to t(:back), users_disciplines_path %>
