<!DOCTYPE html>
<html>
<head>
  <title>StudySpots</title>
<%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
<body>
	
	<div class="container">
      <header>
        <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
        <nav class="round">
          <ul>
						
            <li><%= link_to "Home", '/' %></li>
            <% if user_signed_in? %>
            <li><%= current_user.email %> <%= link_to "(Log out)", destroy_user_session_path, :method => :get %></li>
            
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Log in", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>
      <section class="round">
  <%= yield %>
        </section>
    </div>
</body>
</html>
