<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.text_field :account_id %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :account_level %><br />
    <%= f.text_field :account_level %>
  </div>
  <div class="field">
    <%= f.label :account_state %><br />
    <%= f.text_field :account_state %>
  </div>
  <div class="field">
    <%= f.label :unban_time %><br />
    <%= f.text_field :unban_time %>
  </div>
  <div class="field">
    <%= f.label :expiration_time %><br />
    <%= f.text_field :expiration_time %>
  </div>
  <div class="field">
    <%= f.label :login_count %><br />
    <%= f.text_field :login_count %>
  </div>
  <div class="field">
    <%= f.label :last_login %><br />
    <%= f.text_field :last_login %>
  </div>
  <div class="field">
    <%= f.label :last_ip %><br />
    <%= f.text_field :last_ip %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.text_field :birthdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>