<h1>Listing accounts</h1>

<table>
  <tr>
    <th><%=t :username %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.username %></td>
    <td style="width:20px"><%= link_to image_tag('File_info16.png'), account %></td>
    <td style="width:20px"><%= link_to image_tag('File_edit16.png'), edit_account_path(account) %></td>
    <td style="width:20px"><%= link_to image_tag('File_delete16.png'), account, confirm: 'Are you sure?', method: :delete %></td>
    <td style="width:20px"><%= link_to image_tag('User16.png'), profiles_path+'/'+account.account_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %><br />
<%= link_to 'New Spot', new_spot_path %>
