<h1><%=t :accounts %></h1>
<table>
  <tr>
    <th><%=t :username %></th>
    <th><%=t :email %></th>
    <th style="width:20px"></th>
    <th style="width:20px"></th>
    <th style="width:20px"></th>
    <th style="width:20px"></th>
  </tr>
  <% @accounts.each do |account| %>
  <tr>
    <td><%= account.username %></td>
    <td><%= account.email %></td>
    <td style="width:20px"><%= link_to image_tag('Info16.png', :title => t(:show)), account %></td>
    <td style="width:20px"><%= link_to image_tag('Edit16.png', :title => t(:edit)), edit_account_path(account) %></td>
    <td style="width:20px"><%= link_to image_tag('Delete16.png', :title => t(:delete)), account, confirm: 'Are you sure?', method: :delete %></td>
    <td style="width:20px"><%= link_to image_tag('User16.png', :title => t(:profile)), profiles_path+'/'+account.account_id %></td>
    <td style="width:20px"><%= link_to image_tag('Add16.png', :title => '+Spot'), accounts_path+'/'+account.account_id+'/join' %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to t(:newaccount), new_account_path %><br />
<%= link_to t(:newspot), new_spot_path %>
