<h1><%=t :join %></h1>

<%= form_for @account, :validate => true do |f| %>
  <% if @account.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @account.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <label for="spot_id"><%=t :spot %>:</label>
    <%= f.collection_select :spot_id, Spot.find(:all), :spot_id, :local, :prompt => t(:selectspot) %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>